<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AA Photography</title>
  <!--Leaflet-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <!--bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
  <div id="fixed-icons">
    <div><img style="width: 40px; height: 30px;" src="../static/images/whatsapp.png" alt="whatsapp"></div>
    <div><img style="width: 40px; height: 30px;" src="../static/images/facebook.png" alt="facebook"></div>
    <div><img style="width: 40px; height: 30px;" src="../static/images/instagram.png" alt="instagram"></div>
  </div>


  <nav class="navbar h-nav-resp">
    <div id="logo">
      <img src="../static/images/logo.png" alt="MyOnlineMeal.com">
    </div>
    <ul class="navList v-nav-resp me-md-auto">
      <li class="item"><a href="#home">Home</a></li>
      <li class="item"><a href="#services-container">Services</a></li>
      <li class="item"><a href="#client-section">Our Clients</a></li>
      <li class="item"><a href="#contact">Contact Us</a></li>
    </ul>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
  <div class="home overflow-hidden">
    <video class="overflow-hidden" autoplay muted loop>
      <source src="../static/videos/8.mp4">
    </video>
  </div>


  <!--firstSection-->
  <div class="firstSection">

    <div class="heading"> <em>welcome to a.a. Photography</em></div>
    <div class="text text-center col-md-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero minima
      tenetur a fuga, labore temporibus itaque eum accusantium soluta molestiae?</div>

  </div>

  <!--secondSection-->

  <div class=" row secondSection mx-0">
    <div class="col-md-8 offset-md-2">
      <div class="text-center mainHeading">WELCOME TO A.A PHOTOGPRAGHY</div>
      <div class="text-center">
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui beatae sequi vero nisi
          minima ipsa optio placeat, pariatur, unde quaerat facere iste quae, tenetur nesciunt officia a reiciendis
          laboriosam numquam animi nobis aperiam recusandae. Repellat placeat amet laudantium voluptatem ipsum ut
          , consequuntur rerum asperiores assumenda repellat deleniti sapiente accusamus
          enim maxime ipsa magnam iste quam. Veniam dignissimos quas, necessitatibus laudantium non culpa rem? A unde
          adipisci fuga repellat officiis.</p>
        <hr>
      </div>
    </div>
  </div>

  <!--thirdSection-->



  <div class="thirdSection pb-4">
    <div class="text-center mainHeading">OUR SERVICES</div>
    <div class="row mx-auto mt-0 gy-4 w-75 justify-content-evenly overflow-hidden">
      <div class="col-md-3 overflow-hidden px-0 thirdSectionContainer">
        <img src="../static/images/img2.jpg" alt="Avatar" class="servicesImg">
        <div class="overlay">
          <div class="thirdSectionText"><em>Wedding Photography</em></div>
        </div>
      </div>
      <div class="col-md-3 overflow-hidden text-center px-0 thirdSectionContainer">
        <!--<img src="img2.jpg" alt="Avatar" class="servicesImg">-->
        <video loop autoplay muted class="servicesImg" style="object-fit: cover;">
          <source src="../static/videos/3.mp4">
        </video>
        <div class="overlay">
          <div class="thirdSectionText"><em>Scenic Videography</em></div>
        </div>
      </div>
      <div class="col-md-3 overflow-hidden text-center px-0 thirdSectionContainer">
        <img src="../static/images/img3.jpg" alt="Avatar" class="servicesImg">
        <div class="overlay">
          <div class="thirdSectionText"><em>Fashion Photography</em></div>
        </div>
      </div>


    </div>
    <!--  <div class="col-md-3 border text-center px-0" style="height: 250px; position: relative;"><img class="img-fluid imgBorder" src="img1.jpg" alt=""></div>
      <div class="col-md-3 border text-center px-0" style="height: 250px;"><img class="img-fluid imgBorder" src="img1.jpg" alt=""></div>
      <div class="col-md-3 border text-center px-0" style="height: 250px;"><img class="img-fluid imgBorder" src="img1.jpg" alt=""></div>-->

    <!-- <div class="subHeading text-center">Photography</div>
    <div class="row mx-0">
      <div class="offset-md-1 col-md-3 border text-center" style="height: 250px;"><img class="img-fluid imgBorder" src="img1.jpg" alt=""></div>
      <div class="col-md-7 border pt-md-0 pt-3 lead" style="line-height: 30px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, autem?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem veritatis pariatur accusantium ut incidunt optio magni dolore consequatur quas quibusdam.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nisi maxime, id obcaecati eum expedita suscipit! Veniam rem natus ut tenetur provident quidem beatae similique vitae! Deserunt eveniet et placeat, id, rerum earum distinctio laborum non dolorem laudantium qui sapiente rem sed? Ex eum consequuntur, quo voluptate nisi libero tempore?</div>
    </div>-->
  </div>

  <!--fourthSection-->


  <div class="fourthSection">
    <div class="mainHeading text-center"> OUR PACKAGES</div>


  </div>
  <div class="container">
    <div class="row mx-0 card-deck mb-3 text-center d-flex justify-content-evenly">
      <div class="card mb-4 box-shadow col-md-3 px-0">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><em>Silver Package</em></h4>
        </div>
        <div class="card-body">
          <!--<h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>-->
          <ul class=" silver-list list-unstyled mt-3 mb-4">
            <li>
              1 Wedding Photographer</li>
            <li>Bride & Groom Photoshoot</li>
            <li>Candid Event Coverage</li>
            <li>1 Signature Digital MATT Top Album</li>
            <li>10 MATT Sheets</li>
            <li>Full Event Video Coverage</li>
            <li>200 Soft Copies on USB</li>
            <!--<button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>-->
        </div>
      </div>
      <div class="card mb-4 box-shadow col-md-3 px-0">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><em>Gold Package</em></h4>
        </div>
        <div class="card-body">
          <!--<h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>-->
          <ul class="gold-list list-unstyled mt-3 mb-4">
            <li>2 Senior Wedding Photographer</li>
            <li>Bride & Groom Photoshoot</li>
            <li>Candid Event Coverage</li>
            <li>1 Signature Digital Glass Top Album</li>
            <li>Full Event Video Coverage</li>
            <li>Cinematic Video Highlight</li>
            <li>Premium Lighting Kit for Creative Effects</li>
          </ul>
          <!--<button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>-->
        </div>
      </div>
      <div class="card mb-4 box-shadow col-md-3 px-0">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><em>Platinum Package</h4></em>
        </div>
        <div class="card-body">
          <!--<h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>-->
          <ul class="platinum-list list-unstyled mt-3 mb-4">
            <li>3 Senior Wedding Photographers</li>
            <li>Photography at Home</li>
            <li>Family Interviews</li>
            <li>Bride & Groom Photoshoot</li>
            <li>Candid Event Coverage</li>
            <li>Photo Frame</li>
            <li>2 Signature Digital Royal Album</li>
            <li>Full Event Video Coverage</li>
            <li>Cinematic Video Highlight</li>
            <li>Premium Lighting Kit for Creative Effects</li>
            <li>Drone Camera Video Coverage</li>
            <li>Image Stabilizers for Cinematic Style Video</li>
          </ul>
          <!--<button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>-->
        </div>
      </div>
    </div>
  </div>
  <!--fifthSection-->

  <div class="fourthSection">
    <div class="mainHeading text-center"> OUR LOCATION </div>
    <div class="container d-flex justify-content-center mt-3">
      <div id="map"></div>
    </div>


  </div>

  <!--footer-->

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center pt-3 mt-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <i class="bi bi-bootstrap-fill"></i>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 A.A. Photography, Inc</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" style="margin-top: -12px;">
        <li> <i class="bi bi-facebook"></i></li>
        <li> <i class="bi bi-whatsapp"></i></li>
        <li> <i class="bi bi-instagram"></i></li>
        <li> <i class="bi bi-twitter"></i></li>
      </ul>
    </footer>
  </div>




 <script src="../static/js/leaflet.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
  <script src="../static/js/resp.js"></script>

</body>

</html>